<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>price</key>
		<string>￥6</string>
		<key>items</key>
		<dict>
			<key>gold</key>
			<integer>2000</integer>
		</dict>
		<key>productIdentifier</key>
		<string>net.profzone.bacterial2.gold_pack6</string>
		<key>sort</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>price</key>
		<string>￥12</string>
		<key>items</key>
		<dict>
			<key>gold</key>
			<integer>5000</integer>
		</dict>
		<key>productIdentifier</key>
		<string>net.profzone.bacterial2.gold_pack12</string>
		<key>sort</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>price</key>
		<string>￥25</string>
		<key>items</key>
		<dict>
			<key>gold</key>
			<integer>12000</integer>
		</dict>
		<key>productIdentifier</key>
		<string>net.profzone.bacterial2.gold_pack25</string>
		<key>sort</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>price</key>
		<string>￥45</string>
		<key>items</key>
		<dict>
			<key>gold</key>
			<integer>25000</integer>
		</dict>
		<key>productIdentifier</key>
		<string>net.profzone.bacterial2.gold_pack45</string>
		<key>sort</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>price</key>
		<string>￥68</string>
		<key>items</key>
		<dict>
			<key>gold</key>
			<integer>40000</integer>
		</dict>
		<key>productIdentifier</key>
		<string>net.profzone.bacterial2.gold_pack68</string>
		<key>sort</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>price</key>
		<string>￥128</string>
		<key>items</key>
		<dict>
			<key>gold</key>
			<integer>100000</integer>
		</dict>
		<key>productIdentifier</key>
		<string>net.profzone.bacterial2.gold_pack128</string>
		<key>sort</key>
		<integer>6</integer>
	</dict>
</array>
</plist>
